<!-- views/layout/header.ejs -->
<div class="w-full bg-orange-600 text-white">
  <nav class="container m-auto flex justify-between py-4">
    <span class="text-lg font-bold">Hacker news</span>
    <div class="flex items-center">
      <span>nodejs cheerio</span>
    </div>
  </nav>
</div>
